<div class="w-full">
    <div class="p-4">
        <div class="subheading-2">Listado</div>

        <div class="border-b px-4 relative select-none block no-underline text-dark">
            <div class="flex items-center gap-4">
                <div class="overflow-hidden flex-auto">
                    <div class="body-2">{{ 'ibuprofeno' | uppercase }}</div>
                    <div class="body-1 text-secondary">$10.000</div>
                    <div class="flex-none flex flex-col items-end justify-center">
                        <div class="body-2">Analgésico</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-b px-4 relative select-none block no-underline text-dark">
            <div class="flex items-center gap-4">
                <div class="overflow-hidden flex-auto">
                    <div class="body-2">{{ 'ibuprofeno' | uppercase }}</div>
                    <div class="body-1 text-secondary">$10.000</div>
                    <div class="flex-none flex flex-col items-end justify-center">
                        <div class="body-2">Analgésico</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-b px-4 relative select-none block no-underline text-dark">
            <div class="flex items-center gap-4">
                <div class="overflow-hidden flex-auto">
                    <div class="body-2">{{ 'ibuprofeno' | uppercase }}</div>
                    <div class="body-1 text-secondary">$10.000</div>
                    <div class="flex-none flex flex-col items-end justify-center">
                        <div class="body-2">Analgésico</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
