<div class="w-full">
    <div class="p-4">
        <div class="subheading-2">Agregar Medicamento</div>
        <form >
            <mat-form-field class="w-full">
                <mat-label>Nombre</mat-label>
                <input matInput name="Nombre">
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Nombre</mat-label>
                <input matInput="Nombre">
            </mat-form-field>

            <mat-select name="tipo" class="w-full">
                <mat-option value="0">Sin Tipo</mat-option>
            </mat-select>

            <button type="submit" mat-raised-button color="primary" class="w-full">
                <mat-icon svgIcon="mat:add"></mat-icon>
            </button>
        </form>
    </div>
</div>
