<!-- * flex = espaciado automático, py = padding, t: top x: ejes x -->
<div class="secondary-toolbar shadow-b py-1 border-t flex">
    <div class="px-gutter flex items-center flex-auto">
        <h1 class="subheading-2 font-medium  m-0 ltr:pr-3 rtl:pl-3 ltr:border-r rtl:border-l ltr:mr-3 rtl:ml-3 flex-none">Medicamentos</h1>
    </div>
</div>

<!-- sm es como un breakpoint, condición: si es más pequeño será row -->
<div class="flex flex-col sm:flex-col md:flex-row gap-4 py-4">
    <!-- * Listado de medicamentos -->
    <pharmaceuticals-list> </pharmaceuticals-list>
    <!-- * Fin listado de medicamentos -->

    <!-- * Formulario -->
    <add-pharmaceuticals></add-pharmaceuticals>
    <!-- * Fin formulario -->

</div>
